{
 ; what directory we're parsing under
 :parse-dir "./parse-src" 

 ; regexs for java comments
 :comments-regex ["\\/\\/.*", "(?s)/\\*.*\\*/"] 

 ; the actual extension of the files we're looking at
 :target-ext "java"

 ; words that we're filtering against
 :blacklist
	["", "the", "to", "of", "is", "a", "this", "and", "in", "for", "be", "with", "that", "or", "it", "if", "as", "can", "by", "an", "are"]
}
